<!-- BEGIN FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h4>ABOUT SENTIR AGENCY</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
            diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
            qmuis nostrud exerci tation ullamcorper suscipit lobortis 
            </p>
            <p>
              <a href="#fakelink"><i data-toggle="tooltip" title="Facebook" class="fa fa-facebook icon-sm icon-rounded icon-social-footer icon-facebook"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Twitter" class="fa fa-twitter icon-sm icon-rounded icon-social-footer icon-twitter"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Google plus" class="fa fa-google-plus icon-sm icon-rounded icon-social-footer icon-google-plus"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Dribbble" class="fa fa-dribbble icon-sm icon-rounded icon-social-footer icon-dribbble"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Pinterest" class="fa fa-pinterest icon-sm icon-rounded icon-social-footer icon-pinterest"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Github" class="fa fa-github icon-sm icon-rounded icon-social-footer icon-github"></i></a>
            </p>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-6 col-md-3">
            <h4>CONTACT</h4>
            <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-map-marker media-object"></i>
              </span>
              <div class="media-body">
              <address>
                Twitter, Inc.<br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>
              </div><!-- /.media-body -->
            </div><!-- /.media -->
            <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-envelope media-object"></i>
              </span>
              <div class="media-body">
              <address>
                Full Name<br>
                <a href="mailto:#">first.last@example.com</a>
              </address>
              </div><!-- /.media-body -->
            </div><!-- /.media -->
          </div><!-- /.col-sm-3 -->
          <div class="clearfix visible-sm"></div>
          <div class="col-sm-6 col-md-2">
            <h4>NAVIGATION</h4>
            <ul class="list">
              <li><a href="index.html">Home</a></li>
              <li><a href="index.html">About us</a></li>
              <li><a href="index.html">Our services</a></li>
              <li><a href="index.html">Portfolio</a></li>
              <li><a href="index.html">Pricing</a></li>
              <li><a href="index.html">Blog</a></li>
            </ul>
          </div><!-- /.col-sm-2 -->
          <div class="col-sm-6 col-md-3">
            <h4>SIGN UP NEWSLETTER</h4>
            <p>
            Laritas est etiam processus dynamicus, qui
            sequitur mutationem consuetudium
            lectorum. Mirum est notare quam littera.
            </p>
            <form role="form">
              <div class="input-group subscribe">
                <input type="text" class="form-control" placeholder="Enter email address">
                <span class="input-group-btn">
                <button class="btn btn-info" type="button"><i class="fa fa-chevron-right"></i></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div><!-- /.col-sm-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </footer><!-- /.section -->
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            Copyright &copy; 2014 <a href="#fakelink">Your company</a>
          </div><!-- /.col-sm-5 -->
          <div class="col-sm-7 text-right">
            <ul class="list-inline">
              <li><a href="#fakelink">Terms and condition</a></li>
              <li><a href="#fakelink">Privacy policy</a></li>
              <li><a href="#fakelink">FAQ</a></li>
            </ul>
          </div><!-- /.col-sm-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.footer -->
    <!-- END FOOTER -->

    <!--
    ===========================================================
    Placed at the end of the document so the pages load faster
    ===========================================================
    -->
    <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
    <script src="/js/jquery.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/plugins/retina/retina.min.js"></script>
    <script src="/plugins/backstretch/jquery.backstretch.min.js"></script>
    <script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/apps.js"></script>