<!-- BEGIN FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h4>Mestre de Obra</h4>
            <p>
            Mestre de Obra é um canal de dicas e novidades sobre construção, reforma, decoração e paisagismo.</p>
            <p>
              <a href="https://www.facebook.com/MestredeobraOficial"><i data-toggle="tooltip" title="Facebook" class="fa fa-facebook icon-sm icon-rounded icon-social-footer icon-facebook"></i></a>
              <a href="#fakelink"><i data-toggle="tooltip" title="Twitter" class="fa fa-twitter icon-sm icon-rounded icon-social-footer icon-twitter"></i></a>
            </p>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-6 col-md-4">
            <h4>Contato</h4>
            <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-map-marker media-object"></i>
              </span>
              <div class="media-body">
              <address>
                Rua 06, 2678, Centro
                <br>Jales, SP<br/>
                <abbr title="Phone"></abbr> (17) 99776-0425<br/>
                <abbr title="Phone"></abbr> (17) 98125-3099<br/>
                <abbr title="Phone"></abbr> (17) 99727-8182
                
              </address>
              </div><!-- /.media-body -->
            </div><!-- /.media -->
            <div class="media media-contact">
              <span class="pull-left">
              <i class="fa fa-envelope media-object"></i>
              </span>
              <div class="media-body">
              <address>
                <a href="mailto:contato@mestredeobra.com.br">contato@mestredeobra.com.br</a>
              </address>
              </div><!-- /.media-body -->
            </div><!-- /.media -->
          </div><!-- /.col-sm-3 -->
          <div class="clearfix visible-sm"></div>
          <div class="col-sm-6 col-md-4">
            <h4>Como Podemos lhe ajudar?</h4>
            <ul class="list">
              <li><a href="#">Como funciona</a></li>
              <li><a href="#">Parceiros</a></li>
              <li><a href="#">Termos e Condições</a></li>
              <li><a href="#">Depoimentos</a></li>
              <li><a href="#">Entre em Contato Conoscolog</a></li>
            </ul>
          </div><!-- /.col-sm-2 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </footer><!-- /.section -->
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            direitos autorais@2016 .Todos os Direitos Reservados
          </div><!-- /.col-sm-5 -->
          <div class="col-sm-7 text-right">
            <ul class="list-inline">
              <li><a href="#fakelink">Home</a></li>
              <li><a href="#fakelink">Blog</a></li>
              <li><a href="#fakelink">Contato</a></li>
            </ul>
          </div><!-- /.col-sm-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.footer -->
    <!-- END FOOTER -->

    <!--
    ===========================================================
    Placed at the end of the document so the pages load faster
    ===========================================================
    -->
    <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
    <script src="/js/jquery.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="/plugins/retina/retina.min.js"></script>
    <script src="/plugins/backstretch/jquery.backstretch.min.js"></script>
    <script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/apps.js"></script>