<div class="container">
      
        <!-- Begin logo -->
        <div class="logo">
          <a href="#"><img src="/img/logo2x.png" alt="Logo"></a>
        </div><!-- /.logo -->
        <!-- End logo -->
        
        <!-- Begin button toggle nav -->
        <div class="btn-toggle-nav" id="btn-toggle-nav"><i class="fa fa-bars"></i></div>
        <div class="btn-toggle-search" id="btn-icon-search"><i class="fa fa-search"></i></div>
        <div class="btn-toggle-phone" id="btn-icon-phone"><i class="fa fa-phone"></i></div>
        <!-- End button toggle nav -->
        
        <!-- Begin visible phone and search nav -->
        <div id="phone-sub" class="nav-right-info">
          <i class="fa fa-times times-icon" id="close-phone-nav"></i>
          <p class="phone">Call us : <strong>+1 123 4567 7899</strong></p>
        </div>
        <div id="search-sub" class="nav-right-info">
          <i class="fa fa-times times-icon" id="close-search-nav"></i>
          <form role="form">
            <input type="text" class="form-control" placeholder="Search something...">
          </form>
        </div>
        <!-- End visible phone and search nav -->
        
        <!-- Begin nav menu -->
        <ul class="menus">          
          <li class="parent primary">
            <a href="http://mestredeobra.com.br/">Home</a>
          </li>
          <li class="parent success active">
            <a href="http://blog.mestredeobra.com.br">Blog</a>
          </li>
          <li class="parent warning">
            <a href="http://mestredeobra.com.br/contato">Contato</a>
          </li>
          
          <!-- Begin right icon -->
          <!-- <li class="parent right-icon">
            <i class="fa fa-search" id="nav-icon-search"></i>
          </li> -->
          <li class="parent right-icon" onclick="window.location.href='/auth/login'">
            <i class="fa fa-user"></i>
          </li>
          <!-- End right icon -->
        </ul>
        <!-- End nav menu -->
</div><!-- /.container -->
