<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="tooltips">

  <div class="top-navbar fancy-color">
    {% include header.html %}
  </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-9">
            {{ content }}
          </div>
          <div class="col-sm-4 col-md-3">
          
            <!-- BEGIN SIDEBAR -->
            <div class="section sidebar">
              
              <!-- Begin Categories -->
              <div class="panel panel-no-border panel-sidebar">
                <div class="panel-heading">
                <h3 class="panel-title">Parceiros</h3>
                </div>
                 <!-- List group -->
                <!-- <div class="list-group">
                  <a href="#fakelink" class="list-group-item">Lorem ipsum dolor (15)</a>
                  <a href="#fakelink" class="list-group-item">Consectetur adipisicing elit  (10)</a>
                  <a href="#fakelink" class="list-group-item">Repudiandae iste deleniti  (5)</a>
                  <a href="#fakelink" class="list-group-item">Illum mollitia culpa  (35)</a>
                  <a href="#fakelink" class="list-group-item">Aliquid facilis possimus  (33)</a>
                </div> -->
              </div><!-- /.panel panel-no-border panel-sidebar -->
              <!-- End Categories -->
              
              <!-- Begin tags -->
              
              <!-- End tags -->
              
              <!-- BEGIN BANNER -->
              
              <img src="/img/pub/01.png" alt="Banner" class="banner">
              
              
              <img src="/img/pub/02.png" alt="Banner" class="banner">
              
              <!-- END BANNER -->
              
            </div><!-- /.section -->
            <!-- END SIDEBAR -->
            
          </div><!-- /.col-sm-4 col-md-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->

    
    {% include footer.html %}

  </body>

</html>
