---
layout: default
---
<div class="post">

  <header class="post-header">
    
  </header>

  <article class="post-content">
  	<div class="section blog-detail">
  		<img src="{{page.image}}" alt="Image detail" class="img-detail">
  		<h1 class="post-title">{{ page.title }}</h1>
    		<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
	    <h4 class="sub-heading">
	    	{{page.description}}
		</h4>
		{{ content }}
	</div>
  </article>

</div>
